@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Open Sans', sans-serif;
}

.swiper-button-next, .swiper-button-prev {
  opacity: 1;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  display: none;
}
    
.swiper-button-disabled {
      visibility: hidden;
      opacity: 0;
      transition: 0.5s ease-in-out;
}